body{
	font-family: sans-serif;
}
main{
	margin: 100px auto;
	width: 500px;
}
.wrapper{
	position: relative;	
	width: 140px;
	height: 40px;
	display: inline-block;
}
.wrapper:nth-child(even){
	margin: 0 20px;
}
.wrapper input,
.wrapper label{
	width: 140px;
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0 10px 5px;
	-webkit-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
.wrapper input{
	border-radius: 5px;
	border: 1px solid #E0E0E0;
	line-height: 15px;
}
.wrapper input:focus{
	-moz-box-shadow: inset 0px 0px 1px 0px #00E676;
	-webkit-box-shadow: inset 0px 0px 1px 0px #00E676;
	-o-box-shadow: inset 0px 0px 1px 0px #00E676;
	box-shadow: inset 0px 0px 1px 0px #00E676;
}
.wrapper label{
	z-index: 2;
	font-size: 14px;
	font-weight: lighter;
}
.wrapper i{
	position: absolute;
	z-index: 3;
	cursor: pointer;
	right: 0;
	top: 10px;
}
i.closed{
	display: none;
}
input[type="submit"]{
	background: none;
	font-size: 14px;
	padding: 10px 0;
	transition: 0.3s ease-in-out;
	cursor: pointer;
	font-weight: lighter;
}
input[type="submit"]:hover{
	background: #69F0AE;
	transition: 0.3s ease-in-out;
}
input[type="submit"]:focus{
	background: #69F0AE;
	transition: 0.3s ease-in-out;
}